.wrapperDiv {
  overflow: hidden;
  display: inline-block;
}

@keyframes tableScroll {
  0%   {
    -moz-transform: translateY(0%); /* Firefox bug fix */
    -webkit-transform: translateY(0%); /* Firefox bug fix */
    transform: translateY(0%);
  }
  100% {
    -moz-transform: translateY(calc(-50% + 2em)); /* Firefox bug fix */
    -webkit-transform: translateY(calc(-50% + 2em)); /* Firefox bug fix */
    transform: translateY(calc(-50% + 2em));
  }
}

.tableWrapper, .tableWrapper table {
  font-size: calc(32 / 1080 * 90vh);
}

.tableWrapper table {
  border-collapse: collapse;
  font-family: 'Allerta', sans-serif;
  color: #232323;
  text-align: center;
}


.tableWrapper thead {
  background: #d6d6d6
}


.tableWrapper tbody {
  background: #f7f6f6;
}

/*TODO see if I can do this seamlessly*/
/*.tableWrapper tr:nth-child(even) {*/
/*  background: #BBBBBB;*/
/*}*/

.separator {
  background: #f7f6f6 !important;
}

.tableWrapper td, .tableWrapper th {
  border-color: #232323;
  border-style: solid;
  border-width: 0.25vmin;
  margin: 0px;
  padding: 0.5em;
  line-height: 1em;
  height: 1em;
}
