.pill {
  border-radius:  2.7vmin;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.pillEdges {
  padding: 1.5vmin;
}

.pillTightEdges {
  padding: 1vmin;
}

.pillExtraTightEdges {
  padding: 0.5vmin;
}
