.colors {
  display: flex;
  flex-direction: row;
}

.colorSample {
  border-radius:  2.7vmin;
  border-color: #606060BF;
  border-width: 0.3vmin;
  border-style: solid;
  margin: 1vmin;
  width: 8vw;
  height: 4.5vh;
}
